<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931170622069-r3t3na0h8bhh4g44q8s86imff1r38sd8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931170622069-r3t3na0h8bhh4g44q8s86imff1r38sd8</string>
	<key>API_KEY</key>
	<string>AIzaSyAYKmCDuoVIWtyOw0MmOtunB7jTa_p1NHI</string>
	<key>GCM_SENDER_ID</key>
	<string>931170622069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kota.driver</string>
	<key>PROJECT_ID</key>
	<string>kota-bwe-ac549</string>
	<key>STORAGE_BUCKET</key>
	<string>kota-bwe-ac549.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931170622069:ios:ca913fd7ea01601a7c763c</string>
</dict>
</plist>